<div class="panel panel-default" style="margin-bottom: 0">
    <div class="panel-heading">
        <form id="search-form" class="form-horizontal" method="GET" action="/dashboard">
            <div class="form-group">
                <label class="sr-only" for="status">$$label_search$$</label>

                <div class="col-sm-12">
                <input
                    type="search"
                    name="search"
                    placeholder="$$label_search_placeholder$$"
                    class="form-control"
                    value="{{search}}"/>
                </div>
            </div>

            <div class="search-buttons" style="text-align: center;">
                <a href="/bug" class="btn btn-md btn-primary">
                    <i class="fa fa-plus"></i><br/>$$label_add_ticket$$
                </a>
                <button class="btn btn-md btn-info" type="submit" form="search-form">
                    <i class="fa fa-plus"></i><br/>$$label_search$$
                </button>
                <a href="/dashboard" class="btn btn-md btn-default">
                    <i class="fa fa-repeat"></i><br/>$$label_clear$$
                </a>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <hr class="panel-title-separator"/>
        <div class="panel-title" style="text-align: center;">
            <span class="label label-success clickable" data-search="/dashboard?search=is:open">{{stats.open}} $$label_status_open$$</span>
            <span class="label label-warning clickable" data-search="/dashboard?search=is:progress">{{stats.progress}} $$label_status_progress$$</span>
            <span class="label label-default clickable" data-search="/dashboard?search=is:closed">{{stats.closed}} $$label_status_closed$$</span>
            <span>·</span>
            <span class="label label-success clickable" data-search="/dashboard?search=is:low">{{stats.low}} $$label_low$$</span>
            <span class="label label-warning clickable" data-search="/dashboard?search=is:critical">{{stats.critical}} $$label_critical$$</span>
            <span class="label label-danger clickable" data-search="/dashboard?search=is:blocker">{{stats.blocker}} $$label_blocker$$</span>
            <span>·</span>
            <span class="label label-success clickable" data-search="/dashboard?search=is:public">{{stats.public}} $$label_public$$</span>
            <span class="label label-danger clickable" data-search="/dashboard?search=is:private">{{stats.private}} $$label_private$$</span>
        </div>
    </div>
    <div class="panel-body">
        {{#if tickets.length}}
            <div class="tickets-table">
                {{#each tickets}}
                    {{>listItem this}}
                {{/each}}
            </div>
        {{else}}
            <h1>$$label_no_tickets$$</h1>
        {{/if}}
    </div>
    {{#if pagination}}
        {{#if pagination.show}}
            <div class="panel-footer">
                <ul class="pagination">
                    {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a class="pagination-link" href="?page={{n}}">First</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a class="pagination-link" href="?page={{n}}">Prev</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="7"}}
                        <li {{#if active}}class="active"{{/if}}><a class="pagination-link" href="?page={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a class="pagination-link" href="?page={{n}}">Next</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a class="pagination-link" href="?page={{n}}">Last</a></li>
                    {{/paginate}}
                </ul>
            </div>
        {{/if}}
    {{/if}}
</div>



<script>

    window.addEventListener('load', function(){
        // Override the click event for the pagination buttons so we can append the filters
        document.querySelectorAll('.pagination-link').forEach(function(btn){
            btn.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.target.href + '&search=' + '{{search}}';
            });
        });

        document.querySelectorAll('.clickable, .search-badge').forEach(function(badge){
            badge.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.target.getAttribute('data-search');
            });
        });
    });

</script>
