{{#if isAdmin}}
    {{> toolbar this}}
{{/if}}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title" style="margin-bottom: 10px;">
            {{ticket.title}} ($$write_date_time:{{ticket.created}}$$)
        </div>
        {{#if isAdmin}}
            <div class="panel-title">
                {{> ticket/toolbar ticket}}
            </div>
        {{/if}}
    </div>
    <div class="panel-body">
        {{#if isAdmin}}
            <div style="float: right;">
                {{> ticket/level ticket }}
            </div>
        {{/if}}
        <p><span><strong>$$label_app_name$$</strong></span>&nbsp;<span>{{appName}}</span></p>
        <p><span><strong>$$label_app_version$$</strong></span>&nbsp;<span>{{ticket.appVersion}}</span></p>
        <p>{{> ticket/status this}}</p>
        <hr/>
        <div class="ticket-description">
            {{#markdown}}{{ticket.description}}{{/markdown}}
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>

<h4>$$write_plural:label_comments:{{ticket.comments.length}}$$</h4>
<hr/>

{{#if isAdmin}}
    {{#each ticket.comments}}
        {{> ticket/comment this}}
    {{/each}}
{{else}}
    {{#each ticket.comments}}
        {{> ticket/public_comment this}}
    {{/each}}
{{/if}}

<form class="form" method="POST" action="/ticket/{{ticket.id}}/comment">
    <div class="form-group">
        <label for="comment">$$label_comment$$ (min: 10/ max: 1000)</label>
        <textarea class="form-control" rows="5" name="comment" minlength="10" maxlength="1000"></textarea>
        <span class="markdown-notice">$$label_markdown_support$$</span>
    </div>

    <input class="btn btn-sm btn-primary long-button" type="submit" value="$$label_add_comment$$">
</form>

{{#if isAdmin}}
    {{> ticket/edit_modal this}}
{{/if}}

<script>

    var deleteComment = function(evt) {
        evt.preventDefault();
        var cid = evt.target.getAttribute('data-comment-id');
        $.ajax({
            url: '/ticket/{{ticket.id}}/comment/' + cid,
            method: 'DELETE',
            contentType: 'application/json',
            success: function(result) {
                window.location.reload();
            }
        });
    };

    var setTicketStatus = function(evt, status) {
        evt.preventDefault();
        $.ajax({
            url: '/ticket/{{ticket.id}}',
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({status: status}),
            success: function(result) {
                window.location.reload();
            }
        });
    };

    var addEventListeners = function(element, event, fn) {
        var el = document.getElementById(element);
        if(!el){
            return;
        }

        el.addEventListener(event, fn);
    };

    var wrapImage = function(img) {
        var url = img.getAttribute('src');
        var parent = img.parentElement;
        parent.removeChild(img);
        var link = document.createElement('a');
        link.setAttribute('href', url);
        link.setAttribute('target', '_blank');
        link.appendChild(img);
        parent.appendChild(link);
    };

    window.addEventListener('load', function(){
        document.querySelectorAll('.delete-button').forEach(function(btn){
            btn.addEventListener('click', deleteComment);
        });

        document.querySelectorAll('.level-badge').forEach(function(btn){
            btn.addEventListener('click', function(evt){
                setTicketStatus(evt, evt.target.getAttribute('data-level'));
            });
        });

        addEventListeners('start-progress-button', 'click', function(evt){
            setTicketStatus(evt, 'progress');
        });

        addEventListeners('close-button', 'click', function(evt){
            setTicketStatus(evt, 'closed');
        });

        addEventListeners('reopen-button', 'click', function(evt){
            setTicketStatus(evt, 'open');
        });

        addEventListeners('private-button', 'click', function(evt){
            setTicketStatus(evt, 'public');
        });

        addEventListeners('public-button', 'click', function(evt){
            setTicketStatus(evt, 'private');
        });

        // Wrap images with a link
        document.querySelectorAll('.ticket-description img').forEach(wrapImage);
    });


</script>
