<ol class="breadcrumb">
    <li><a href="/dashboard">$$label_dashboard$$</a></li>
    <li class="active">{{ticket.title}}</li>
</ol>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            {{ticket.title}}
        </div>
    </div>
    <div class="panel-body">
        <div style="float: right;">
            <p><span class="label label-$$class_status_{{ticket.status}}$$">$$label_status_{{ticket.status}}$$&nbsp;&nbsp;<i class="fa $$class_type_{{ticket.type}}$$"></i></span></p>
        </div>
        <p><span><strong>$$label_app_name$$</strong></span>&nbsp;<span>{{appName}}</span></p>
        <p><span><strong>$$label_app_version$$</strong></span>&nbsp;<span>{{ticket.appVersion}}</span></p>
        <hr/>
        <div class="ticket-description">
            {{#markdown}}{{ticket.description}}{{/markdown}}
        </div>
    </div>
    <div class="panel-footer buttons">
        {{#compare ticket.status "open"}}
            <button id="start-progress-button" class="btn btn-sm btn-default">$$label_start_progress$$</button>
            <button id="close-button" class="btn btn-sm btn-default">$$label_close$$</button>
        {{/compare}}
        {{#compare ticket.status "progress"}}
            <button id="reopen-button" class="btn btn-sm btn-default">$$label_stop_progress$$</button>
            <button id="close-button" class="btn btn-sm btn-default">$$label_close$$</button>
        {{/compare}}
        {{#compare ticket.status "closed"}}
            <button id="reopen-button" class="btn btn-sm btn-default">$$label_open$$</button>
        {{/compare}}
    </div>
</div>

<h4>$$label_comments$$ ({{ticket.comments.length}})</h4>
<hr/>

{{#each ticket.comments}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span></span>
            <span>$$label_created$$ {{created}}</span>
            <span>$$label_by$$ {{owner}}</span>
        </div>
        <div class="panel-body">
            {{#markdown}}{{text}}{{/markdown}}
        </div>
        <div class="panel-footer buttons">
            <button data-comment-id="{{id}}" class="btn btn-sm btn-default delete-button">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
{{/each}}

<form class="form" method="POST" action="/ticket/{{ticket.id}}/comment">
    <div class="form-group">
        <label for="comment">$$label_comment$$ (min: 10/ max: 1000)</label>
        <textarea class="form-control" rows="5" name="comment" minlength="10" maxlength="1000"></textarea>
        <span class="markdown-notice">$$label_markdown_support$$</span>
    </div>

    <input class="btn btn-sm btn-primary" type="submit" value="$$label_add_comment$$">
</form>

<script>

    var deleteComment = function(evt) {
        evt.preventDefault();
        var cid = evt.target.getAttribute('data-comment-id');
        $.ajax({
            url: '/ticket/{{ticket.id}}/comment/' + cid,
            method: 'DELETE',
            contentType: 'application/json',
            success: function(result) {
                window.location.reload();
            }
        });
    };

    var setTicketStatus = function(evt, status) {
        evt.preventDefault();
        $.ajax({
            url: '/ticket/{{ticket.id}}',
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({status: status}),
            success: function(result) {
                window.location.reload();
            }
        });
    };

    var addEventListeners = function(element, event, fn) {
        var el = document.getElementById(element);
        if(!el){
            return;
        }

        el.addEventListener(event, fn);
    };

    window.addEventListener('load', function(){
        document.querySelectorAll('.delete-button').forEach(function(btn){
            btn.addEventListener('click', deleteComment);
        });

        addEventListeners('start-progress-button', 'click', function(evt){
            setTicketStatus(evt, 'progress');
        });

        addEventListeners('close-button', 'click', function(evt){
            setTicketStatus(evt, 'closed');
        });

        addEventListeners('reopen-button', 'click', function(evt){
            setTicketStatus(evt, 'open');
        });
    });


</script>
