{{!--  {{> dashboard/stats stats}}  --}}

{{!--
<span class="label label-success clickable" data-search="/dashboard?search=is:open">{{open}} $$label_status_open$$</span>
<span class="label label-warning clickable" data-search="/dashboard?search=is:progress">{{progress}} $$label_status_progress$$</span>
<span class="label label-default clickable" data-search="/dashboard?search=is:closed">{{closed}} $$label_status_closed$$</span>
<span>·</span>
<span class="label label-success clickable" data-search="/dashboard?search=is:low">{{low}} $$label_low$$</span>
<span class="label label-warning clickable" data-search="/dashboard?search=is:critical">{{critical}} $$label_critical$$</span>
<span class="label label-danger clickable" data-search="/dashboard?search=is:blocker">{{blocker}} $$label_blocker$$</span>
<span>·</span>
<span class="label label-success clickable" data-search="/dashboard?search=is:public">{{public}} $$label_public$$</span>
<span class="label label-danger clickable" data-search="/dashboard?search=is:private">{{private}} $$label_private$$</span>
--}}

<div class="toolbar">
    <div class="btn-group" role="group">
        <a href="/dashboard?search=is:open" class="btn btn-sm btn-default">
            {{open}}<br class="hidden-xs"/> $$label_status_open$$
        </a>
        <a href="/dashboard?search=is:progress" class="btn btn-sm btn-default">
            {{progress}}<br class="hidden-xs"/> $$label_status_progress$$
        </a>
        <a href="/dashboard?search=is:closed" class="btn btn-sm btn-default">
            {{closed}}<br class="hidden-xs"/> $$label_status_closed$$
        </a>
        <a href="/dashboard?search=is:low" class="btn btn-sm btn-default">
            {{low}}<br class="hidden-xs"/> $$label_low$$
        </a>
        <a href="/dashboard?search=is:critical" class="btn btn-sm btn-default">
            {{critical}}<br class="hidden-xs"/> $$label_critical$$
        </a>
        <a href="/dashboard?search=is:blocker" class="btn btn-sm btn-default">
            {{blocker}}<br class="hidden-xs"/> $$label_blocker$$
        </a>
        <a href="/dashboard?search=is:public" class="btn btn-sm btn-default">
            {{public}}<br class="hidden-xs"/> $$label_public$$
        </a>
        <a href="/dashboard?search=is:private" class="btn btn-sm btn-default">
            {{private}}<br class="hidden-xs"/> $$label_private$$
        </a>
    </div>
</div>
