<div class="list-group">
    <a href="/ticket/{{id}}" class="list-group-item">
        <span class="badge"><i class="fa fa-chevron-right"></i></span>
        <h3 class="list-group-item-heading">
            {{truncate title 50}}
        </h3>
        <p class="list-group-item-text">
            <span class="label label-$$class_status_{{status}}$$">$$label_status_{{status}}$$</span>
            <span class="label label-$$class_type_{{type}}$$">$$label_type_{{type}}$$&nbsp;&nbsp;<i class="fa $$icon_type_{{type}}$$"></i></span>
            <span class="label label-$$class_level_{{level}}$$">$$label_{{level}}$$&nbsp;&nbsp;<i class="fa $$icon_level_{{level}}$$"></i></span>
            {{#if private}}
                <span class="label label-danger">$$label_private$$&nbsp;&nbsp;<i class="fa fa-lock"></i></span>
            {{else}}
                <span class="label label-success">$$label_public$$&nbsp;&nbsp;<i class="fa fa-unlock"></i></span>
            {{/if}}
        </p>
    </a>
</div>
